<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{layout :: top-bootstrap}"></th:block>
</head>
<body>
<form th:object="${employeeDto}" th:method="post" th:action="@{/employee/save}">
    <fieldset class="w-75 mx-auto">
        <legend class="text-center my-4"> <span class="text-secondary">Create customer</span></legend>
        <div>
            <input type="hidden" th:field="*{employeeId}" value="0">

        </div>

        <div class="form-outline w-25 mx-auto">
            <input class="form-control" id="name" type="text" th:field="*{employeeName}"/>
            <label class="form-label" for="name">Name Employee</label>

        </div>
        <div class="w-25 mx-auto">
            <span style="color: red" th:if="${#fields.hasErrors('employeeName')}" th:errors="*{employeeName}"></span>
        </div>
        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="dayofbirth" type="date" th:field="*{employeeBirthday}"/>
            <label class="form-label" for="dayofbirth">Day of birth</label>
        </div>
        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="cmnd" type="text" th:field="*{employeeIdCard}"/>
            <label class="form-label" for="cmnd">CMND</label>
        </div>
        <div class="w-25 mx-auto">
            <span style="color: red" th:if="${#fields.hasErrors('employeeIdCard')}" th:errors="*{employeeIdCard}"></span>
        </div>
        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="phone" type="text" th:field="*{employPhone}"/>
            <label class="form-label" for="phone">Phone</label>
        </div>
        <div class="w-25 mx-auto">
            <span style="color: red" th:if="${#fields.hasErrors('employPhone')}" th:errors="*{employPhone}"></span>
        </div>
        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="email" type="email" th:field="*{employEmail}"/>
            <label class="form-label" for="email">Email</label>
        </div>
        <div class="w-25 mx-auto">
            <span style="color: red" th:if="${#fields.hasErrors('employEmail')}" th:errors="*{employEmail}"></span>
        </div>
        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="slary" type="text" th:field="*{employeeSlary}"/>
            <label class="form-label" for="slary">Slary</label>
        </div>
        <div class="w-25 mx-auto">
            <span style="color: red" th:if="${#fields.hasErrors('employeeSlary')}" th:errors="*{employeeSlary}"></span>
        </div>
        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="address" type="text" th:field="*{employeeAddress}"/>
            <label class="form-label" for="address">Address</label>
        </div>
        <div class="form-outline w-25 mx-auto my-4">
            <select  th:field="*{position}" class="form-select" aria-label="Disabled select example" >
                <option value="0" th:text="---Select---"></option>
                <option th:each="position : ${positions}" th:value="${position.positionId}" th:text="${position.positionName}"></option>
            </select>
        </div>
        <div class="w-25 mx-auto">
            <span style="color: red" th:if="${#fields.hasErrors('position')}" th:errors="*{position}"></span>
        </div>
        <div class="form-outline w-25 mx-auto my-4">
            <select  th:field="*{educationDegree}" class="form-select" aria-label="Disabled select example" >
                <option value="0" th:text="---Select---"></option>
                <option th:each="education : ${educations}" th:value="${education.educationDegreeId}" th:text="${education.educationDegreeName}"></option>
            </select>
        </div>
        <div class="w-25 mx-auto">
            <span style="color: red" th:if="${#fields.hasErrors('educationDegree')}" th:errors="*{educationDegree}"></span>
        </div>
        <div class="form-outline w-25 mx-auto my-4">
            <select  th:field="*{division}" class="form-select" aria-label="Disabled select example" >
                <option value="0" th:text="---Select---"></option>
                <option th:each="division : ${divisions}" th:value="${division.divisionId}" th:text="${division.divisionName}"></option>
            </select>
        </div>
        <div class="w-25 mx-auto">
            <span style="color: red" th:if="${#fields.hasErrors('division')}" th:errors="*{division}"></span>
        </div>
    </fieldset>
    <div class="text-center">
        <button type="submit" class="btn btn-secondary mt-4 mx-2">Create</button>
        <a class="btn btn-light mt-4 " th:href="@{/employee}">Back to customer list</a>
    </div>

</form>
<th:block th:replace="~{layout :: bot-bootstrap}"></th:block>
</body>
</html>