<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{layout :: top-bootstrap}"></th:block>
</head>
<body>
<form th:object="${product}" th:method="post" th:action="@{/product/create}">
    <fieldset class="w-75 mx-auto">
        <legend class="text-center my-4"> <span class="text-secondary">Create Song</span></legend>
        <div>
            <input type="hidden" th:field="*{id}" value="0">

        </div>

        <div class="form-outline w-25 mx-auto">
            <input class="form-control" id="name1" type="text" th:field="*{name}"/>
            <label class="form-label" for="name1">Name Product</label>
        </div>
        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="price1" type="text" th:field="*{price}"/>
            <label class="form-label" for="price1">Price</label>
        </div>
        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="desc1" type="text" th:field="*{description}"/>
            <label class="form-label" for="desc1">Description</label>
        </div>
        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="manu1" type="text" th:field="*{manufacturer}"/>
            <label class="form-label" for="manu1">Manufacturer</label>
        </div>
        <div class="form-outline w-25 mx-auto my-4">
            <select  th:field="*{category}" class="form-select" aria-label="Disabled select example" >
                <option value="0" th:text="---Select---"></option>
                <option th:each="category : ${category}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>
        </div>

    </fieldset>
    <div class="text-center">
        <button type="submit" class="btn btn-secondary mt-4 mx-2">Create</button>
        <button type="button" class="btn btn-warning mt-4 mx-2">Not</button>
    </div>

</form>
<div class="text-center">
    <a class="btn btn-light mt-4 " th:href="@{/product}">Back to product list</a>
</div>
<th:block th:replace="~{layout :: bot-bootstrap}"></th:block>
</body>
</html>