<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Song</title>
    <th:block th:replace="~{layout :: top-bootstrap}"></th:block>
</head>
<body>
<center><h1><a href="/list">Product List</a></h1></center>
<h2 th:text="${mess}" class="text-success"></h2>
<a class="btn btn-primary" href="/product/create">Create new product</a>
<hr>
<form action="/product/" method="get">
    <div class="input-group">
        <div class="form-outline">
            <input type="search" id="form1" class="form-control" name="name"/>
            <label class="form-label" for="form1">Search by name</label>
        </div>
        <div class="form-outline">
            <input type="search" id="form2" class="form-control" name="pice"/>
            <label class="form-label" for="form2">Search by price</label>
        </div>
        <div class="form-outline">
            <select name="category" class="form-select" aria-label="Disabled select example">
                <option value="%">--Chọn--</option>
                <option th:each="category: ${categorys}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>
        </div>
        
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-search"></i>
        </button>
    </div>
</form>
<table class="table">
    <thead class="table-dark">
    <tr>
        <td>STT</td>
        <td>ID</td>
        <td>Mã sản phẩm</td>
        <td>
            <a th:href="@{/product(page=${products.number},name=${nameVal},sort='name,asc',price=${price},category=${category})}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
            </svg>
            </a>
            Name Product
            <a th:href="@{/product(page=${products.number},name=${nameVal},sort='name,desc',price=${price},category=${category})}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
            </svg>
            </a>
        </td>
        <td>Price</td>
        <td>Description</td>
        <td>Manufacturer</td>
        <td>Category</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product,loop : ${products}">
        <td th:text="${loop.count}"></td>
        <td th:text="${product.id}"></td>
        <td th:text="${product.code}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.manufacturer}"></td>
        <td th:text="${product.category.name}"></td>

        <td>
            <a class="btn btn-warning" th:href="@{/product/edit(id=${product.id})}" style="color: white">Edit</a>
        </td>
        <td>
            <button th:attr="onclick=|deleteModal('${product.id}', '${product.name}')|" type="button"
                    class="btn btn-danger"
                    data-mdb-toggle="modal" data-mdb-target="#exampleModal">
                Delete
            </button>
        </td>
    </tr>
    </tbody>
</table>


<nav aria-label="Page navigation example">
    <ul class="pagination pagination-circle pg-blue">
        <li class="page-item "><a class="page-link" aria-label="Previous" th:if="${products.hasPrevious()}"
                                  th:href="@{/product(page=0,name=${nameVal},sort=${sort},price=${price},category=${category})}">First</a></li>
        <li class="page-item">
            <a class="page-link" aria-label="Previous" th:if="${products.hasPrevious()}"
               th:href="@{/product(page=${products.number - 1},name=${nameVal},sort=${sort})}">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item active">
            <a class="page-link " aria-label="Previous"
               th:if="${products.hasNext()}"
               th:href="@{/product(page=${products.number},name=${nameVal},sort=${sort},price=${price},category=${category})}"
               th:text="${products.number+1}">

            </a>
        </li>
        <li class="page-item">
            <a class="page-link" aria-label="Previous"
               th:if="${products.hasNext()}"
               th:href="@{/product(page=${products.number + 1},name=${nameVal},sort=${sort},price=${price},category=${category})}"
               th:text="${products.number+2}">

            </a>
        </li>

        <li class="page-item">
            <a class="page-link" aria-label="Previous" th:if="${products.hasNext()}"
               th:href="@{/product(page=${products.number + 1},name=${nameVal},sort=${sort},price=${price},category=${category})}">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
        <li class="page-item "><a class="page-link" aria-label="Previous" th:if="${products.hasNext()}"
                                  th:href="@{/product(page=${products.totalPages - 1},name=${nameVal},sort=${sort},price=${price},category=${category})}">Last</a>
        </li>
    </ul>
</nav>

<!-- Modal -->
<form th:action="@{/product/delete}">
    <div class="modal top fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
         data-mdb-backdrop="true" data-mdb-keyboard="true">
        <div class="modal-dialog  ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Song</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Bạn có muốn xóa blog này không<br>
                    <span>Tên: <p id="name"></p></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                        Close
                    </button>
                    <input type="hidden" name="id" id="id-del">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>
<th:block th:replace="~{layout :: bot-bootstrap}"></th:block>
<script>
    function deleteModal(id, name) {
        document.getElementById("id-del").value = id;
        document.getElementById("name").innerText = name;
    }
</script>
</body>
</html>