<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order List</title>
    <th:block th:replace="~{layout :: top-bootstrap}"></th:block>
</head>
<body>
<!--<h1><a href="/contract/">Contract List</a></h1>-->
<h2 th:text="${mess}" class="text-success"></h2>
<!--<button><a href="/contract/create">Create </a></button>-->
<hr>
<form action="/order/" method="get">
    <div class="input-group">
        <div class="form-outline">
            <input type="date" name="dateStart" >
        </div>
        <div class="form-outline">
            <input type="date" name="dateEnd" >
        </div>

        <button type="submit" class="btn btn-primary">
            <i class="fas fa-search"></i>
        </button>
    </div>
</form>
    <form action="/order/" method="get">
    <div>
        <select name="top">
            <option value="">--Chọn--</option>
            <option value="5">5</option>
            <option value="10">10</option>
        </select>
        <span>Xem đơn hàng có tổng tiền cao nhất</span>
        <button type="submit">Xem</button>
    </div>
</form>

    <table class="table">
        <thead class="table-dark">
        <tr>
            <td>STT</td>
            <td>

                Mã đơn hàng

            </td>
            <td>Tên Sản Phẩm</td>
            <td>Giá(USD)</td>
            <td>Loại Sản Phẩm</td>
            <td>Ngày mua</td>
            <td>Số lượng</td>
            <td>Tổng Tiền</td>
            <td>Action</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order,loop : ${orders}">
            <td th:text="${loop.count}"></td>
            <!--        <td th:text="${customer.id}"></td>-->
            <td th:text="${order.orderProductId}"></td>
            <td th:text="${order.product.productName}"></td>
            <td th:text="${order.product.productPrice}"></td>
            <td th:text="${order.product.productId}"></td>
            <td th:text="${order.dateBuy}"></td>
            <td th:text="${order.amount}"></td>
            <td th:text="${order.amount}*${order.product.productPrice}"></td>
            <td>
                <a class="btn btn-warning" th:href="@{/order/edit(id=${order.orderProductId})}" style="color: white">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
<div>
    <a th:if="${orders.hasPrevious()}" th:href="@{/order/(page=${orders.number - 1},dateStart=${dateStart},dateEnd=${dateEnd})}">
        Previous
    </a>
    <span th:text="${orders.number + 1}"></span>
    /
    <span th:text="${orders.totalPages}"></span>
    <a th:if="${orders.hasNext()}" th:href="@{/order/(page=${orders.number + 1},dateStart=${dateStart},dateEnd=${dateEnd})}">Next</a>
</div>
</body>
</html>