<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sản Phẩm</title>
    <th:block th:replace="~{/layout::top-bootstrap}"></th:block>
</head>

<body>

<br>
<form action="/product/" method="get">
    <div class="form-outline w-25 mx-auto">
        <input class="form-control" id="name1" type="text" name="name"/>
        <label class="form-label" for="name1">Tìm sản phẩm</label>
    </div>
    <div class="w-100 mx-auto justify-content-center text-center my-4">
        <input class="btn btn-info " type="submit" value="Tìm">

    </div>
</form>
<div class="row mx-4">
    <div class="card-group col-4" th:each="product: ${products}">
        <div class="card m-4" >
            <img style="height: 100%;width: 100%" th:src="${product.link}" class="card-img-top" alt="Hollywood Sign on The Hill"/>

            <div class="card-body">
                <h4 class="card-title text-truncate">Tên sản phẩm :
                    <span class="text-secondary" th:text="${product.name}"></span>
                </h4>
                <p class="card-text text-warning" >
                    Giá:
                    <span th:text="${product.price}"></span>
                </p>
                <p class="card-text text-warning">
                    Mô tả sản phẩm:
                    <small class="text-success" th:text="${product.description}"></small>
                </p>
<!--                <p class="card-text text-danger">Số lượng còn lại : <span class="text-secondary" th:text="${book.quantity}"></span> quyển</p>-->

                <div class="card-footer px-0 text-center">
                    <a  class="btn btn-primary mx-4" th:href="@{/product/add/{id}(id=${product.id})}"><i class="fas fa-shopping-cart"></i>Add to Cart</a>
                </div>

            </div>
        </div>
    </div>
</div>
<div>
    <a th:if="${products.hasPrevious()}" th:href="@{/product(page=${products.number - 1},name=${nameVal},sort=${sort})}">
        Previous
    </a>
    <span th:text="${products.number + 1}"></span>
    /
    <span th:text="${products.totalPages}"></span>
    <a th:if="${products.hasNext()}" th:href="@{/product(page=${products.number + 1},name=${nameVal},sort=${sort})}">Next</a>

</div>




<th:block th:replace="~{/layout::bot-bootstrap}"></th:block>

</body>
</html>