<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{layout :: top-bootstrap}"></th:block>
</head>
<body>
<form th:object="${facilityDto}" th:method="post" th:action="@{/facility/edit}">
    <fieldset class="w-75 mx-auto">
        <legend class="text-center my-4"> <span class="text-secondary">Create customer</span></legend>
        <div>
            <input type="hidden" th:field="*{facilityId}" value="0">

        </div>
        <div class="form-outline w-25 mx-auto">
            <input class="form-control" id="name" type="text" th:field="*{facilityName}"/>
            <label class="form-label" for="name">Name facility</label>

        </div>
        <div class="w-25 mx-auto">
            <span style="color: red" th:if="${#fields.hasErrors('facilityName')}" th:errors="*{facilityName}"></span>
        </div>
        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="area" type="text" th:field="*{facilityArea}"/>
            <label class="form-label" for="area">facility Area</label>
        </div>
        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="cost" type="text" th:field="*{facilityCost}"/>
            <label class="form-label" for="cost">Cost</label>
        </div>
        <div class="w-25 mx-auto">
            <span style="color: red" th:if="${#fields.hasErrors('facilityCost')}" th:errors="*{facilityCost}"></span>
        </div>
        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="people" type="text" th:field="*{facilityMaxPeople}"/>
            <label class="form-label" for="people">Max people</label>
        </div>
        <div class="w-25 mx-auto">
            <span style="color: red" th:if="${#fields.hasErrors('facilityMaxPeople')}" th:errors="*{facilityMaxPeople}"></span>
        </div>
        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="standard" type="text" th:field="*{standardRoom}"/>
            <label class="form-label" for="standard">Standard Room</label>
        </div>
        <div class="w-25 mx-auto">
            <span style="color: red" th:if="${#fields.hasErrors('standardRoom')}" th:errors="*{standardRoom}"></span>
        </div>
        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="des" type="text" th:field="*{descriptionOtherConvenience}"/>
            <label class="form-label" for="des">description</label>
        </div>
        <div class="w-25 mx-auto">
            <span style="color: red" th:if="${#fields.hasErrors('descriptionOtherConvenience')}" th:errors="*{descriptionOtherConvenience}"></span>
        </div>
        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="pool" type="text" th:field="*{poolArea}"/>
            <label class="form-label" for="pool">Pool Area</label>
        </div>
        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="floor" type="text" th:field="*{numberOfFloors}"/>
            <label class="form-label" for="floor">NUmber Floor</label>
        </div>
        <div class="form-outline w-25 mx-auto my-4">
            <select  th:field="*{rentType}" class="form-select" aria-label="Disabled select example" >
                <option value="0" th:text="---Select---"></option>
                <option th:each="rent : ${rents}" th:value="${rent.rentTypeId}" th:text="${rent.rentTypeName}"></option>
            </select>
        </div>
        <div class="w-25 mx-auto">
            <span style="color: red" th:if="${#fields.hasErrors('rentType')}" th:errors="*{rentType}"></span>
        </div>
        <div class="form-outline w-25 mx-auto my-4">
            <select  th:field="*{facilityType}" class="form-select" aria-label="Disabled select example" id="type" onchange="changeVal(this)">
                <option value="0" th:text="---Select---"></option>
                <option th:each="type : ${types}" th:value="${type.facilityTypeId}" th:text="${type.facilityTypeName}"></option>
            </select>
        </div>
        <div class="w-25 mx-auto">
            <span style="color: red" th:if="${#fields.hasErrors('facilityType')}" th:errors="*{facilityType}"></span>
        </div>
    </fieldset>
    <div class="text-center">
        <button type="submit" class="btn btn-secondary mt-4 mx-2">Create</button>
        <a class="btn btn-light mt-4 " th:href="@{/facility}">Back to Facility list</a>
    </div>

</form>
<th:block th:replace="~{layout :: bot-bootstrap}"></th:block>

<script>
    function changeVal(obj) {
        if(obj.value == 2){
            document.getElementById("floor").style.display="block"
            document.getElementById("pool").style.display="none";
            document.getElementById("pool").setAttribute("disabled","true")
            document.getElementById("floor").removeAttribute("disabled")
        }else if(obj.value==3){
            document.getElementById("pool").style.display="none";
            document.getElementById("floor").style.display="none";
            document.getElementById("pool").setAttribute("disabled","true")
            document.getElementById("floor").setAttribute("disabled","true")
        }else if(obj.value==1){
            document.getElementById("pool").style.display="block"
            document.getElementById("floor").style.display="block"
            document.getElementById("pool").removeAttribute("disabled")
            document.getElementById("floor").removeAttribute("disabled")
        }
    }
</script>
</body>
</html>