<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Facility</title>
    <th:block th:replace="~{layout :: top-bootstrap}"></th:block>
</head>
<body>
<h1><a href="/facility/">Facility List</a></h1>
<h2 th:text="${mess}" class="text-success"></h2>
<button><a href="/facility/create">Create</a></button>
<hr>
<form action="/facility/" method="get">
    <div class="input-group">
        <div class="form-outline">
            <input type="search" id="form1" class="form-control" name="name"/>
            <label class="form-label" for="form1">Search by name</label>
        </div>
        <div class="form-outline">
            <select name="rent" class="form-select" aria-label="Disabled select example">
                <option value="%">--Chọn--</option>
                <option th:each="rent: ${rents}" th:value="${rent.rentTypeId}" th:text="${rent.rentTypeName}"></option>
            </select>
        </div>
        <div class="form-outline">
            <select name="type" class="form-select" aria-label="Disabled select example">
                <option value="%">--Chọn--</option>
                <option th:each="type: ${types}" th:value="${type.facilityTypeId}" th:text="${type.facilityTypeName}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-search"></i>
        </button>
    </div>
</form>
<table class="table">
    <thead class="table-dark">
    <tr>
        <td>STT</td>
        <!--        <td>ID</td>-->
        <td>
            <a th:href="@{/facility(page=${facilitys.number},name=${name},rent=${rent},type=${type},sort='facility_name,asc')}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up"
                     viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                </svg>
            </a>
            Name
            <a th:href="@{/facility(page=${facilitys.number},name=${name},rent=${rent},type=${type},sort='facility_name,desc')}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down"
                     viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                </svg>
            </a>
        </td>
        <td>Area</td>
        <td>Cost</td>
        <td>Max People</td>
        <td>Standard room</td>
        <td>Descrip</td>
        <td>Pool Area</td>
        <td>Number Floor</td>
        <td>Facility Type</td>
        <td>Rent type</td>
        <td>Action</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="facility,loop : ${facilitys}">
        <td th:text="${loop.count}"></td>
        <td th:text="${facility.facilityName}" id="name1"></td>
        <td th:text="${facility.facilityArea}" ></td>
        <td th:text="${facility.facilityCost}" ></td>
        <td th:text="${facility.facilityMaxPeople}" ></td>
        <td th:text="${facility.standardRoom}" ></td>
        <td th:text="${facility.descriptionOtherConvenience}" ></td>
        <td th:text="${facility.poolArea}" ></td>
        <td th:text="${facility.numberOfFloors}" ></td>
        <td th:text="${facility.facilityType.facilityTypeName}"></td>
        <td th:text="${facility.rentType.rentTypeName}"></td>
        <td>
            <a class="btn btn-warning" th:href="@{/facility/edit(id=${facility.facilityId})}" style="color: white">Edit</a>
            <!--            <a class="btn btn-warning" th:id="edit" style="color: white">Edit</a>-->


            <button  th:attr="onclick=|deleteModal('${facility.facilityId}', '${facility.facilityName}')|" type="button" class="btn btn-danger" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
                Delete
            </button>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <a th:if="${facilitys.hasPrevious()}" th:href="@{/facility(page=${facilitys.number - 1},name=${name},rent=${rent},type=${type},sort=${sort})}">
        Previous
    </a>
    <span th:text="${facilitys.number + 1}"></span>
    /
    <span th:text="${facilitys.totalPages}"></span>
    <a th:if="${facilitys.hasNext()}" th:href="@{/facility(page=${facilitys.number + 1},name=${name},rent=${rent},type=${type},sort=${sort})}">Next</a>

</div>
<!-- Modal -->
<form th:action="@{/facility/delete}" >
    <div class="modal top fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
        <div class="modal-dialog  ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Customer</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Bạn có muốn xóa nhân viên này không<br>
                    <span>Tên: <p id = "name"></p></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                        Close
                    </button>
                    <input type="hidden" name="id" id="id-del">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>
<th:block th:replace="~{layout :: bot-bootstrap}"></th:block>
<script>
    function deleteModal(id,name) {
        document.getElementById("id-del").value = id;
        document.getElementById("name").innerText=name;
    }
</script>
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
<!--&lt;!&ndash;<script src="/static/js/mdb.min.js"></script>&ndash;&gt;-->
<!--<script>-->
<!--    $("#edit").click(function () {-->
<!--        $("#name1").attr("contenteditable","true");-->
<!--    })-->
<!--</script>-->
</body>
</html>